<div id="ImageModal" class="modal fade show" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <span class="viewableImageClose">&times;</span>
    <img class="modal-content" id="imageContent" style="width:auto!important;">
    <div id="caption"></div>
</div>