@using Microsoft.AspNetCore.Mvc.Localization
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" style="font-weight:400" for="darkSwitch">Dark Mode</label>
        </div>
    </div>
    <!-- Default to the left -->
    Made with <span style="color: #e25555;">&hearts;</span> by <a href="http://codewithmukesh.com">codewithmukesh</a>.
</footer>