@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height:200px;" />
    </div>
    <h2 class="text-center display-4">Hi There!</h2>
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">Here is your full-fledged ASP.NET Core 5.0 MVC Application. Powered by <a href="https://www.codewithmukesh.com">codewithmukesh</a> and <a href="https://www.codewithmukesh.com">aspnetcorehero</a>. </div>
        <p></p>
        <div class="text-center">Support the project by leaving a star on the <a href="https://github.com/aspnetcorehero/Boilerplate">Github Repository </a> so that I keep adding more awesome features to this Boilerplate Template. </div>
        <p></p>
        
    </div>
</div>