@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height:200px;" />
    </div>
    <br />
    <h2 class="text-center display-4">Hi There!</h2>
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">Here is your full-fledged ASP.NET Core 5.0 MVC and WebAPI Application. Powered by <a href="https://www.codewithmukesh.com">codewithmukesh</a> and <a href="https://www.codewithmukesh.com">aspnetcorehero</a>. </div>
        <br />
        <div class="text-center">Support the project by leaving a star on the <a href="https://github.com/aspnetcorehero/Boilerplate">Github Repository </a> so that I keep adding more awesome features to this Boilerplate Template. </div>
        <br />

    </div>
    <div class="container z-depth-1" style=" margin-top: 30px;">
        <section class="p-md-3 mx-md-5">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-6 mb-4">
                    <h2 class="mb-3">The Vision</h2>
                    <p class="text-muted pt-3">
                        An idea to bring together the best and essential practices / pacakges of ASP.NET Core 5.0 along with Clean Hexagonal Architecture that can be a right fit for small/mid and enterprise level solutions. How easy would it be if you are able to run a single line of CLI command on your Console and you get a complete implementation in no time? That's the exact vision I had while building this full fledged Boilerplate template.
                    </p>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="far fa-paper-plane indigo-text pr-2"></i> Clean Architecture
                    </h5>
                    <p class="text-muted mb-lg-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-pen-alt green-text pr-2"></i> Essential Packages
                    </h5>
                    <p class="text-muted mb-lg-0">
                        Logging, Mapping, Caching, Elegant Toast Notifications, API Versioning, Image Optimization - Everything is already taken care for you.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-user amber-text pr-2"></i> User Management
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-rocket red-text pr-2"></i> CRUD Implementation
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-rocket red-text pr-2"></i> CRUD Implementation
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-rocket red-text pr-2"></i> CRUD Implementation
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-rocket red-text pr-2"></i> CRUD Implementation
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-rocket red-text pr-2"></i> CRUD Implementation
                    </h5>
                    <p class="text-muted mb-md-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>